<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">


<head th:fragment="head(title)">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title th:text="${title}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{~/css/site.css}">
    <link rel="stylesheet" type="text/css" th:href="@{~/css/style.css}">
    
    <link rel="stylesheet" th:href="@{~/lib/bootstrap/dist/css/bootstrap.min.css}" />
</head>

<body>

	<div th:fragment="scripts">
		<script th:src="@{~/lib/jquery/dist/jquery.min.js}"></script>
	    <script th:src="@{~/lib/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
	    <script th:src="@{~/js/site.js}"></script>
	</div>

	<header th:fragment="navbar">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-5">
            <div class="container">
                <a class="navbar-brand colab-logo" href="/">Colab Food</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link colab-menu" href="/">
                                <img th:src="@{~/img/icons/home.svg}" width="14" height="22" class="d-inline-block align-top" /> Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link colab-menu" href="/advertising/new">
                                <img th:src="@{~/img/icons/new-document.svg}" width="17" height="23" class="d-inline-block align-top" /> Novo Anúncio
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link colab-menu" href="/">
                                <img th:src="@{~/img/icons/list.svg}" width="13" height="23" class="d-inline-block align-top" /> Doações
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle colab-menu" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img th:src="@{~/img/icons/user.svg}" width="13" height="22" class="d-inline-block align-top" /> Perfil
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/">Informações</a>
                                <a class="dropdown-item bg-danger" href="/logout">Sair</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    
	<div th:fragment="form-user">
		<input type="hidden" name="id" th:field="*{id}"/>
		
		<p th:text="#{label.user.type}"></p>
		<input 
			type="radio" id="producer" 
			name="type" th:field="*{type}" 
			value="PRODUCER">
		<label for="producer" th:text="#{label.user.type.producer}"></label><br>
		<input 
			type="radio" id="charity" 
			name="type" th:field="*{type}" 
			value="CHARITY">
		<label for="charity" th:text="#{label.user.type.charity}"></label><br>
		
		<span th:errors="*{type}"></span>
		
		<br>
	
		<label for="name" th:text="#{label.user.name}"></label>
	
		<input 
			type="text" 
			name="name" 
			id="name" 
			th:field="*{name}"
						 
		/>
		<span th:errors="*{name}"></span>
		
		<br>
		
		<label for="documentNumber" th:text="#{label.user.documentNumber}"></label>
		<input 
			type="text" 
			name="documentNumber" 
			id="documentNumber" 
			th:field="*{documentNumber}"
				 
		/>
		<span th:errors="*{documentNumber}"></span>

		<br>

		<label for="email" th:text="#{label.user.email}"></label>
		<input 
			type="email" 
			name="email" 
			id="email" 
			th:field="*{email}"
						 
		/>
		<span th:errors="*{email}"></span>

		<br>
		
		<label for="password" th:text="#{label.user.password}"></label>
		<input 
			type="password" 
			name="password" 
			id="password" 
			th:field="*{password}"
						 
		/>
		<span th:errors="*{password}"></span>
		
		<br>
		
		<label for="phoneNumber" th:text="#{label.user.phoneNumber}"></label>
		<input 
			type="text" 
			name="phoneNumber" 
			id="phoneNumber" 
			th:field="*{phoneNumber}"
						 
		/>
		<span th:errors="*{phoneNumber}"></span>
		
		<br>
		
		<label for="country" th:text="#{label.user.country}"></label>
		<input 
			type="text" 
			name="country" 
			id="country" 
			th:field="*{country}"
						 
		/>
		<span th:errors="*{country}"></span>
		
		<br>
		
		<label for="address" th:text="#{label.user.address}"></label>
		<input 
			type="text" 
			name="address" 
			id="address" 
			th:field="*{address}"
						 
		/>
		<span th:errors="*{address}"></span>
		
		<br>
		
		<label for="city" th:text="#{label.user.city}"></label>
		<input 
			type="text" 
			name="city" 
			id="city" 
			th:field="*{city}"
						 
		/>
		<span th:errors="*{city}"></span>
		
		<br>
		
		<label for="state" th:text="#{label.user.state}"></label>
		<input 
			type="text" 
			name="state" 
			id="state" 
			th:field="*{state}"
						 
		/>
		<span th:errors="*{state}"></span>
			
	</div>
	
	<!-- FORMULARIO DE ANUNCIO -->
	
	<div th:fragment="form-advertising">
		<input type="hidden" name="id" th:field="*{id}"/>
		
		<label for="title" th:text="#{label.advertising.title}"></label>
	
		<input 
			type="text" 
			name="title" 
			id="title" 
			th:field="*{title}"
						 
		/>
		<span th:errors="*{title}"></span>
		
		<br>
		
		<label for="quantity" th:text="#{label.advertising.quantity}"></label>
	
		<input 
			type="number" 
			name="quantity" 
			id="quantity" 
			th:field="*{quantity}"
						 
		/>
		<span th:errors="*{quantity}"></span>
		
		<br>
		
		<label for="description" th:text="#{label.advertising.description}"></label>
		<input 
			type="text" 
			name="description" 
			id="description" 
			th:field="*{description}"
				 
		/>
		<span th:errors="*{description}"></span>

		<br>

		<label for="address" th:text="#{label.advertising.address}"></label>
		<input 
			type="text" 
			name="address" 
			id="address" 
			th:field="*{address}"
						 
		/>
		<span th:errors="*{address}"></span>

		<br>
		
		<label for="city" th:text="#{label.advertising.city}"></label>
		<input 
			type="text" 
			name="city" 
			id="city" 
			th:field="*{city}"
						 
		/>
		<span th:errors="*{city}"></span>
		
		<br>
		
		<label for="state" th:text="#{label.advertising.state}"></label>
		<input 
			type="text" 
			name="state" 
			id="state" 
			th:field="*{state}"
						 
		/>
		<span th:errors="*{state}"></span>
		
		<br>
		
		<label for="country" th:text="#{label.advertising.country}"></label>
		<input 
			type="text" 
			name="country" 
			id="country" 
			th:field="*{country}"
						 
		/>
		<span th:errors="*{country}"></span>
			
	</div>


</body>
</html>