<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:include="_template :: head(#{title.advertising})"></head>
<body>

	<header th:include="_template :: navbar"></header>
	
	


	<div th:object="${advertising}">
		<h2 th:text="*{title}"></h2>
		
		<form th:action="@{/donation}" method="post" th:object="${donation}">
			<input type="hidden" name="advertisingId" th:value="${advertising.id}"/>
			<button type="submit" th:text="#{button.donation.accept}"></button>
		</form>
		<a th:href="*{ '/donation/' + id}"></a>
	</div>
	<div th:include="_template :: scripts"></div>
</body>
</html>