<!DOCTYPE html>
<html 
	xmlns:th="http://thymeleaf.org"
	xmlns:sec="http://thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="utf-8">
<title th:text="#{title.home}"></title>
</head>
<body>
	<h1 th:text="#{title.home.greetings} + ${#authentication.getPrincipal().getName()}"></h1>
	<span th:text="${msg}" th:if="${msg != null}"></span>
	<div th:each="a : ${advertisings}">
		<div>
			<h2 th:text="${a.title}"></h2>
			<p th:text="${a.address}"></p>
			<p th:text="${a.quantity}"></p> 
			<a th:href="${'/advertising/' + a.id}" th:text="#{link.home.details}"></a>
		</div>
	</div>
</body>
</html>