<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="utf-8">
<title th:text="#{title.login}"></title>
</head>
<body>
  
	<span th:text="${msg}" th:if="${msg != null}"></span>
	<span th:if="${param.error}">Login inválido</span>
	
	<form th:action="@{/login}" method="post">
	
		<label for="email" th:text="#{label.user.email}"></label>
		<input 
			type="email" 
			name="username" 
			id="email" 			 
		/>

		<br>
		
		<label for="password" th:text="#{label.user.password}"></label>
		<input 
			type="password" 
			name="password" 
			id="password" 		 
		/>
		
		<div>
			<a href="/user/new" th:text="#{button.user.new}"></a>
			<button th:text="#{button.login}"></button>
		</div>
		
	</form>

</body>
</html>